<template>
  <button @click="inc">Increment</button>
</template>

<script>
import { useStore }  from 'vuex';

export default {
  setup() {
    const store = useStore();  // accessing to vuex (getters, setters and actions)
    function inc() {
      store.dispatch('increment'); // using composition we are no using this. anymore
    }

    return { inc };
  },
};
</script>