<template>
  <h2>{{ counter }}</h2>
</template>

<script>
import { computed } from 'vue';
import { useStore }  from 'vuex';

export default {
  setup() {
    const store = useStore(); // accessing to vuex (getters, setters and actions)
    const counter = computed(()=>{
      return store.getters.counter; // function created in main.js (getters payload)

    })
    return { counter }; // exposing data to use in this component
  },
};
</script>